body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 40px;
    transform: rotate(-30deg) skew(25deg);
}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

ul li:hover span:nth-child(1) {
    opacity: .2; 
}

.Fb span { background: #3b5998; }

.Git span { background: #333; }

.Tt span { background: #1da1f2; }

.Inst span { background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }

.Link span { background: #0072b1; }