* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.content {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: 20px 40px;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
}

.content .contentText {
    position: relative;
    z-index: 1;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}

.content .contentWater {
    position: absolute;
    left: 0;
    top: -120px;
    width: 300px;
    height: 300px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: all .5s;
}

.content .contentWater:hover { top: -140px; }

.content .contentWater:before,
.content .contentWater:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
}

.content .contentWater:before {
    border-radius: 45%;
    background: rgba(212,212,212, 1);
    animation: wave 5s linear infinite;
}
.content .contentWater:after {
    border-radius: 40%;
    background: rgba(255,255,255, .5);
    animation: wave 10s linear infinite;
}

@keyframes wave {
    from{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-75%) rotate(360deg);
    }
}