* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url(google-map-background.jpg);
}

.content { position: relative; }

.meNota {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 15px;
    font-family: Roboto;
    color: #ff505f;
    z-index: -4;
}

.pointerCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    transform:  rotate(-45deg);
    
    animation: UpDownCircle 2s linear infinite;
}

.pointerCenter {
    position: absolute;
    top: 27%;
    left: 27%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;

    animation: UpDownCenter 2s linear infinite;
}

.pulse {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%)  rotateX(45deg);
    width: 50px;
    height: 50px;
    background: rgba(255,255,255, .8);
    border-radius: 50%;
    z-index: -1;
}

.pulse:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255, .8);
    z-index: -2;
    animation: pulseEffect 1.5s linear infinite;
}

@keyframes pulseEffect {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(2);
        opacity: 1;
    }
}

@keyframes UpDownCircle {
    0% {
        transform: translateY(0) rotate(-45deg);
    }
    50% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

@keyframes UpDownCenter {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}